form/ui-showcase/src/main/resources/br/net/mirante/singular/showcase/component/form/xsd/XsdCaseSimple.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="shipTo">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="city" type="xs:positiveInteger"/>
      <xs:element name="country" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
