lib/ws-client/src/main/java/br/net/mirante/singular/ws/client/singularWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.core.flow.singular.mirante.net.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SingularWSService" targetNamespace="http://ws.core.flow.singular.mirante.net.br/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.core.flow.singular.mirante.net.br/" elementFormDefault="unqualified" targetNamespace="http://ws.core.flow.singular.mirante.net.br/" version="1.0">

      <xs:element name="executeDefaultTransition" type="tns:executeDefaultTransition"/>

      <xs:element name="executeDefaultTransitionResponse" type="tns:executeDefaultTransitionResponse"/>

      <xs:element name="executeTransition" type="tns:executeTransition"/>

      <xs:element name="executeTransitionResponse" type="tns:executeTransitionResponse"/>

      <xs:element name="ping" type="tns:ping"/>

      <xs:element name="pingResponse" type="tns:pingResponse"/>

      <xs:element name="relocateTask" type="tns:relocateTask"/>

      <xs:element name="relocateTaskResponse" type="tns:relocateTaskResponse"/>

      <xs:element name="startInstance" type="tns:startInstance"/>

      <xs:element name="startInstanceResponse" type="tns:startInstanceResponse"/>

      <xs:complexType name="executeDefaultTransition">
        <xs:sequence>
          <xs:element minOccurs="0" name="processAbbreviation" type="xs:string"/>
          <xs:element minOccurs="0" name="codProcessInstance" type="xs:long"/>
          <xs:element minOccurs="0" name="username" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="executeDefaultTransitionResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="executeTransition">
        <xs:sequence>
          <xs:element minOccurs="0" name="processAbbreviation" type="xs:string"/>
          <xs:element minOccurs="0" name="codProcessInstance" type="xs:long"/>
          <xs:element minOccurs="0" name="transitionName" type="xs:string"/>
          <xs:element minOccurs="0" name="username" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="executeTransitionResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="ping">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="pingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="relocateTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="processAbbreviation" type="xs:string"/>
          <xs:element minOccurs="0" name="codProcessInstance" type="xs:long"/>
          <xs:element minOccurs="0" name="username" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="relocateTaskResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="startInstance">
        <xs:sequence>
          <xs:element minOccurs="0" name="processAbbreviation" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="startInstanceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeDefaultTransition">
    <wsdl:part element="tns:executeDefaultTransition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ping">
    <wsdl:part element="tns:ping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeTransition">
    <wsdl:part element="tns:executeTransition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="relocateTaskResponse">
    <wsdl:part element="tns:relocateTaskResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startInstanceResponse">
    <wsdl:part element="tns:startInstanceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeDefaultTransitionResponse">
    <wsdl:part element="tns:executeDefaultTransitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeTransitionResponse">
    <wsdl:part element="tns:executeTransitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="relocateTask">
    <wsdl:part element="tns:relocateTask" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startInstance">
    <wsdl:part element="tns:startInstance" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SingularWS">
    <wsdl:operation name="executeDefaultTransition">
      <wsdl:input message="tns:executeDefaultTransition" name="executeDefaultTransition">
      </wsdl:input>
      <wsdl:output message="tns:executeDefaultTransitionResponse" name="executeDefaultTransitionResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTransition">
      <wsdl:input message="tns:executeTransition" name="executeTransition">
      </wsdl:input>
      <wsdl:output message="tns:executeTransitionResponse" name="executeTransitionResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:ping" name="ping">
      </wsdl:input>
      <wsdl:output message="tns:pingResponse" name="pingResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="relocateTask">
      <wsdl:input message="tns:relocateTask" name="relocateTask">
      </wsdl:input>
      <wsdl:output message="tns:relocateTaskResponse" name="relocateTaskResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startInstance">
      <wsdl:input message="tns:startInstance" name="startInstance">
      </wsdl:input>
      <wsdl:output message="tns:startInstanceResponse" name="startInstanceResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SingularWSServiceSoapBinding" type="tns:SingularWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executeDefaultTransition">
      <soap:operation soapAction="executeDefaultTransition" style="document"/>
      <wsdl:input name="executeDefaultTransition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeDefaultTransitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeTransition">
      <soap:operation soapAction="executeTransition" style="document"/>
      <wsdl:input name="executeTransition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeTransitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="ping" style="document"/>
      <wsdl:input name="ping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="relocateTask">
      <soap:operation soapAction="relocateTask" style="document"/>
      <wsdl:input name="relocateTask">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="relocateTaskResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startInstance">
      <soap:operation soapAction="startInstance" style="document"/>
      <wsdl:input name="startInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SingularWSService">
    <wsdl:port binding="tns:SingularWSServiceSoapBinding" name="SingularWSPort">
      <soap:address location="http://localhost:8080/canabidiol/SingularWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>